.btn {
	font-weight: bold;
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-primary {
	text-transform: uppercase;
	&:hover,
	&:focus,
	&.focus {
		color: #fff;
		background: $brand-primary-dark;
		border-color: $brand-primary-dark;
		text-decoration: none;
	}
}

.btn-primary-inverse {
	text-transform: uppercase;
	@include button-variant($brand-primary, #fff, $brand-primary);
}
.btn-primary-inverse:hover,
.btn-primary-inverse:focus,
.btn-primary-inverse:active,
.btn-primary-inverse.active {
	color: #fff;
	background-color: $brand-primary-dark;
	border-color: $brand-primary-dark;
}

.btn-secondary {
	@include button-variant(#fff, $brand-secondary, $brand-secondary);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	color: #fff;
	background-color: $brand-secondary;
	border-color: $brand-secondary;
}

.btn-2-line, .btn-3-line {
	position: relative;
	white-space: normal !important;
	> span {
		position: absolute;
		width: 100%;
		padding: inherit;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
	}
}

.btn-2-line {
	height: 4em;
	font-size: 0.8em;
	@media (min-width: $screen-md-min) {
		height: 5em;
		// font-size: 0.95vw;
	}
}

.btn-3-line {
	height: 3em;
	@media (min-width: $screen-sm-min) { height: 6em; }
	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		font-size: 1em;
	}
}
