// hc-nav-tabs
.hc-nav-tabs {

	position: relative;
	margin-bottom: $grid-gutter-width;

	&.hc-nav-tabs-no-margin {
		margin-bottom: 0;
	}

	> .nav.nav-tabs {

		position: absolute;
		bottom: 0;

		font-weight: 600;
		text-transform: uppercase;

		li {
			display: table-cell;
			width: 1%;
			a {
				margin-bottom: 0;
				background: $link-color;
				background: rgba($link-color, 0.75);
				color: rgba($body-bg, 0.75);
				border-bottom: none !important;
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
				&:hover, &:focus {
					color: $body-bg;
					border-color: $brand-secondary;
					border-color: rgba($brand-primary, .5);
					background-color: rgba($brand-secondary, .85);
				}
			}

		}
		li.active a {
			background: $body-bg;
			color: $brand-secondary;
			text-shadow: 0 0 $body-bg;
			padding: 12px 0 10px 0;
			&:hover, &:focus { color: $brand-secondary; }
		}

	}
}


// h3
#hc-l3-left-nav a {
	color: #044169;
}

#hc-l3-left-nav li {
	padding: 0.7em 0;
}

#hc-l3-left-nav > li {

	&.active > a {
		font-weight: bold;
	}

	> ul > li.active a {
		color: $brand-primary;
		font-weight: bold;
	}

	border-bottom: solid 1px #A2D9DE;
}

#hc-l3-left-nav ul {
	padding-left: 2em;
	font-weight: normal;
}
#hc-l3-left-nav ul > li {
	padding: 8px 0;
}

.nav-stacked {

	// li {
	// 	a {
	// 		padding: 1em 0;
	// 		border-bottom: solid 1px $link-color;
	// 	}
	// 	a:hover {
	// 		background: none;
	// 		text-decoration: underline;
	// 	}
	// }
	//
	// > li.active {
	// 	a {
	// 		background: none !important;
	// 		color: $brand-primary !important;
	// 		&:hover {
	// 		}
	// 	}
	// }

	// ul

}
