<footer id="hc-footer">

	<section class="container">
		<!-- <script type="text/javascript" src="https://hcflgov.formstack.com/forms/js.php/page_helpful_local?referrer={{page.url | prepend: site.baseurl | prepend: site.url}}"></script><noscript><a href="https://hcflgov.formstack.com/forms/page_helpful_local?referrer={{page.url | prepend: site.baseurl | prepend: site.url}}" title="Online Form">Online Form - Was This Page Helpful?</a></noscript> -->
	</section>

	<section id="footer-main">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-sm-4 col-sm-push-4">
					<ul id="footer-navigation" class="list-inline">
						{% for item in site.data.navigation.footer.navigation %}
						<li>
							<a href="{{ item.url | prepend: site.data.navigation.root_url }}">
								{{ item.title }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-4 col-sm-push-4">
					<ul id="footer-social" class="list-inline text-center">
						{% for item in site.data.navigation.footer.social %}
						<li>
							<a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
								<img src="{{ item.image_src | prepend: site.data.navigation.root_url }}" alt="{{ item.title }}" />
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<p>
						<a href="{{ '/' | prepend: site.data.navigation.root_url }}">
							<img id="footer-logo" src="{{ site.data.navigation.footer.logo_src | prepend: site.data.navigation.root_url }}" alt="Hillsborough County" class="img-responsive center-block" />
						</a>
					</p>
				</div>
			</div>

			<!-- <p class="text-center small">
				601 E Kennedy Blvd, Tampa, FL 33602
			</p> -->

		</div>
	</section>

</footer>
