<nav id="hc-main-nav" class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="hc-main-nav-collapse">

			<div id="navbar-toggle-close-xs" class="visible-xs-block">
				<a href="#" class="btn btn-md btn-block btn-primary" data-toggle="collapse" data-target="#hc-main-nav-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-fw fa-close"></i>
				</a>
			</div>

			<div id="navbar-collapse-content-xs" class="">
				<form action="http://hcflgov.net/search" class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input id="hc-nav-search-bar" name="q" type="text" class="form-control input-sm" placeholder="&#xf002; Search">
					</div>
				</form>

				<ul id="hc-main-nav-sections" class="nav navbar-nav navbar-right">

					{% for item in site.data.navigation.header.navigation %}
					<li class="dropdown">
						<a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{ item.title }}
							<!-- <span class="caret visible-xs-inline-block pull-right"></span> -->
						</a>
						<div class="dropdown-menu hc-nav-dropdown">

							<h3 class="hc-dropdown-title hidden-xs">{{ item.title }}</h3>

							<div class="row">
								<div class="col-sm-6">
									<ul class="nav nav-pills nav-stacked nav-service-sections">
										{% for subitem in item.subitems %}
										<li>
											<a href="{{ subitem.url | prepend: site.data.navigation.root_url }}">
												{{ subitem.title }}
											</a>
										</li>
										{% endfor %}
									</ul>
								</div>

							</div>
						</div>
					</li>
					{% endfor %}

					<li id="nav-i-want-to" class="dropdown">
						{% include i-want-to.html %}
					</li>
				</ul>

			</div>

			<div id="hc-navbar-dim"></div>

		</div><!-- /.navbar-collapse -->


		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hc-main-nav-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-image" href="{{ '/' | prepend: site.data.navigation.root_url }}">
				<img src="{{ site.data.navigation.header.logo_src | prepend: site.data.navigation.root_url }}" alt="" />
			</a>
		</div>


	</div><!-- /.container-fluid -->
</nav>

<section id="navSpacer"></section>
