<ul id="hc-l3-left-nav" class="list-unstyled hidden-xs">
	<li class="active">
		<a href="http://hcflgov.net/en/residents/public-safety/animal-abuser-registry">Animal Abuser Registry</a>
		<ul class="list-unstyled">
			<li><a href="https://hover.hillsclerk.com/" target="_blank">Clerk of the Circuit Courts Records Search</a></li>
			<li><a href="http://hcflgov.net/en/residents/public-safety/animal-abuser-registry/documents">Documents</a></li>
			<li><a href="http://hcflgov.net/en/residents/public-safety/animal-abuser-registry/educational-resources">Educational Resources</a></li>
			<li><a href="http://hcflgov.org/en/residents/animals-and-pets/pet-advocacy/search-enjoined-list">Enjoined List</a></li>
			<li><a href="http://hcflgov.net/en/residents/public-safety/animal-abuser-registry/faqs-about-the-registry">FAQs About the Registry</a></li>
			<li><a href="https://www.municode.com/library/fl/hillsborough_county/ordinances/code_of_ordinances,_part_a?nodeId=789268" target="_blank">Read the Ordinance</a></li>
			<li><a href="https://service.hillsboroughcounty.org/311/animal-request/">Report Animal Cruelty</a></li>
			<li class="active"><a href="{{ '/' | prepend: site.baseurl }}">Search the Registry</a></li>
		</ul>
	</li>
	<li><a href="http://hcflgov.net/en/residents/public-safety/emergency-management">Emergency Management</a></li>
	<li><a href="http://hcflgov.net/en/residents/public-safety/fire-rescue">Fire Rescue</a></li>
	<li><a href="http://hcflgov.net/en/residents/public-safety/medical-examiner">Medical Examiner</a></li>
	<li><a href="http://hcflgov.net/en/residents/public-safety/mosquito-control">Mosquito Control</a></li>
	<li><a href="http://hcflgov.net/en/residents/public-safety/trauma-agency">Trauma Agency</a></li>
</ul>
