<ul id="hc-l3-left-nav" class="list-unstyled hidden-xs">
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Lorem ipsum dolor sit amet</a></li>
	<li class="active">
		<a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Nulla volutpat aliquam velit</a>
		<ul class="list-unstyled">
			<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Phasellus iaculis neque</a></li>
			<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Purus sodales ultricies Nulla volutpat aliquam velit Nulla volutpat aliquam velit Nulla volutpat aliquam velit</a></li>
			<li class="active"><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Vestibulum laoreet porttitor sem</a></li>
			<li><a href="{{ '/layouts/4b/' | prepend: site.baseurl }}">Ac tristique libero volutpat at</a></li>
		</ul>
	</li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Faucibus porta lacus fringilla vel</a></li>
	<li><a href="{{ '/layouts/l3/' | prepend: site.baseurl }}">Eget porttitor lorem</a></li>
</ul>
