#animalabusers {
  .offenses > li {
    margin-bottom: 25px;
  }
  > .row {
    padding: 20px 15px;
    margin: 0;
    border-top: solid 1px #b7b7b7;
    &:nth-child(odd) {
      background: #E3EAEE;
    }
  }
}

@media (min-width: 768px) {
  #animalabusers .dl-horizontal {
    dt {
      width: 110px;
    }
    dd {
      margin-left: 130px;
    }
  }
}
