// components
@import "theme/_mixins";
@import "theme/columns";
@import "theme/buttons";
@import "theme/alerts";
@import "theme/navbar";
@import "theme/jumbotrons";
@import "theme/search";
@import "theme/navs";
@import "theme/cards";
@import "theme/hc-actions";
@import "theme/hc-collapse-panels";
@import "theme/footer";
@import "theme/bios";
@import "theme/map";
@import "theme/text";
@import "theme/hc-rte";

@import "animalabusers";

// full-width white container to accomodate margins of sibling elements
.hc-container-white {
	background: #fff;
	margin: -($grid-gutter-width) auto ($grid-gutter-width / 2);
	padding: 25px 0 15px 0;
}

// panels
.panel-title {
	// font-size: ceil(($font-size-base * 1.125));
	font-size: $font-size-base;
}
