<div class="row">
	<div class="col-md-3">
		<p class="text-center">
			<% if (!_.isEmpty(abuser['Head Photo'])) { %>
				<img src="<%= abuser['Head Photo'] %>" alt="<%= abuser.name %>" class="img-responsive center-block" />
			<% } else { %>
				<span class="h2 thumbnail">
					<i class="fa fa-user fa-5x"></i><br>
					No Image
				</span>
			<% } %>
		</p>
	</div>
	<div class="col-md-9">
		<dl class="dl-horizontal">
			<dt>Name</dt>
			<dd><%= abuser.name %></dd>

			<% if (!_.isEmpty(abuser.alias)) { %>
			<dt>Alias(es)</dt>
			<dd><%= abuser.alias %></dd>
			<% } %>

			<dt>
				<abbr title="Date of Birth">DOB</abbr>
			</dt>
			<dd><%= abuser.DOB %></dd>

			<dt>Address</dt>
			<dd><%= abuser.address %></dd>
		</dl>

		<% if (!_.isEmpty(abuser.offenses)) { %>
		<dl class="dl-horizontal">
			<dt>Offenses</dt>
			<dd>
				<ul class="list-unstyled offenses">
					<% _.each(abuser.offenses, function(offence) { %>
					<li>
						<p>

							<% if (!_.isEmpty(offence.Counts)) { %>
								<%= offence.Counts %> count(s) of
							<% } %>

							<%= offence.Offense %><br>
							<em>Conviction Date:</em> <%= offence['Conviction Date'] %><br>
							<em>Expires from Registry:</em> <%= offence['Expires from Registry'] %>
						</p>
						<% if (!_.isEmpty(offence.Judgment)) { %>
						<p>
							<a href="<%= offence.Judgment %>" target="_blank">
								View Judgment and Sentence
							</a>
						</p>
						<% } %>
					</li>
					<% }); %>
				</ul>
			</dd>
		</dl>
		<% } %>

	</div>
</div>
